.nav {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  z-index: 10;

  @include xl(padding, 12px 10px);

  &__meta {
    display: flex;
    align-items: center;

    @include lg(margin-left, auto)
  }
}

.nav__social {
  list-style: none;
  display: flex;

  li {
    margin: 0 20px;

    @include max(1100) {
      margin: 0 12px;
    }
  }
}

.menu {
  display: flex;
  padding-right: 20px;
  padding-left: 10px;
  align-items: center;
  list-style: none;

  @include xl(padding, 0);
  @include lg(display, none);

  li {
    padding: 10px;

    @include max(1100) {
      padding: 10px 7px;
    }

    &.active:before {
      content: '';
      transition: width 200ms ease-out;
      position: absolute;
      left: 0;
      right: 0;
      width: 0;
      z-index: -1;
      background-color: #FFE864;
      bottom: 50%;
      height: 7px;
      transform: translate(0px, 50%);
    }
  }

  a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    transition: .3s;

    &:hover {
      color: #fd3;
      text-decoration: none;
    }
  }
}

.nav__mobile_buttons {
  display: none;

  @include lg(display, block);
}

.nav__burger {
  width: 52px;
  position: absolute;
  left: 0;
  top: 0;
  height: 73px;
  background: #000;
  display: flex;

  @include xs-block {
    height: 63px;
  }

  .bars {
    margin: auto;
  }

  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: .25s;
    border-radius: 4px;
  }

  &.active {
    .bar1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: rotate(45deg) translate(-6px, -7px);;
    }
  }
}

.nav__mobile_wrapper {
  display: none;
}

.b2b_block {
  display: flex;
  margin: 0 10px;
  padding: 0 5px;

  @include lg(display, none);
}

.b2b {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: auto;

  @include max(1100) {
    font-size: 14px;
  }
}