.nav {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  z-index: 10;

  &__meta {
    display: flex;
    align-items: center;
  }
}

.nav__social {
  list-style: none;
  display: flex;

  li {
    margin: 0 20px;
  }
}

.menu {
  display: flex;
  padding-right: 20px;
  padding-left: 10px;
  align-items: center;
  list-style: none;

  li {
    padding: 10px;
  }

  a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    transition: .3s;

    &:hover {
      color: #fd3;
      text-decoration: none;
    }
  }
}

.b2b_block {
  display: flex;
  margin: 0 10px;
  padding: 0 5px;
}

.b2b {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}