.partners__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;

  &--sm {
    max-width: 1100px;
  }

  &_item {
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;

    @include lg(margin-top, 20px);
    @include md(margin-top, 10px);
    @include sm(margin-top, 5px);
  }

  img {
    max-height: 90px;

    @include lg(max-height, 80px);
    @include md(max-height, 70px);
    @include sm(max-height, 60px);
    @include xs(max-height, 50px);
  }
}

.plus {
  display: block;
  margin-top: 20px;
  font-size: 100px;
  line-height: 2em;
  font-weight: 700;
  text-align: center;

  @include lg(font-size, 80px);
  @include md(font-size, 60px);
  @include sm(font-size, 40px);

  &:after {
    content: '+';
  }
}